/* TermsAndConditions.css */

.terms-conditions {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.th2 {
  text-align: center;
  color: #333;
}

.th3 {
  color: var(--heading-color);
}

.tp {
  color: #555;
  line-height: 1.6;
}

.tp,
.th3 {
  margin-bottom: 20px;
}
